@media screen and (min-width: 480px) {

    /*--------------- hero --------------*/

    .hero {
        background-image: var(--HeroGradient), url(../images/background-img/background-hero-tablet.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: var(--HeroGradient) ,url(../images/background-img/background-hero-tablet-2x.jpg);
        }
}
}

/* @media screen and (min-width: 1440px) {

    .restaurant-menu > .container {
        max-width: 1134px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .restaurant-menu-title {
        margin-bottom: 100px;
    }

    .restaurant-menu-wrap {
        margin-bottom: 65px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 74px;
        row-gap: 50px;
    }

    .restaurant-menu-list-wrap-desk {
        margin-bottom: 0;
        min-width: 530px;
    }

    .restaurant-menu-list-wrap {
        min-width: 530px;
        display: flex;
        flex-direction: column;
    }

    .restaurant-menu-drinks {
        display: flex;
        flex-direction: column;
        gap: 43px;
    }

    .restaurant-menu-drinks-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .restaurant-menu-drinks-item {
        min-width: 530px;
        display: flex;
        position: relative;
    }

    .restaurant-menu-drinks-item::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: rgba(121, 120, 120, 0.5);
        position: absolute;
        bottom: -15px;
    }

}

@media screen and (min-width: 768px) {

    .restaurant-menu > .container {
        max-width: 545px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .restaurant-menu-title {
        margin-bottom: 64px;
        font-size: 40px;
        line-height: 1.1;
    }

    .restaurant-menu-list-wrap-desk {
        margin-bottom: 108px;
    }

    .restaurant-menu-list-title {
        font-size: 24px;
        line-height: 1.0;
    }

    .restaurant-menu-dish-name {
        font-size: 18px;
        line-height: 1.33;
    }

    .restaurant-menu-dish-name::before {
        top: 11px;
    }

    .restaurant-menu-dish-weight {
        font-size: 14px;
        line-height: 1.29;
    }

    .restaurant-menu-dish-ing {
        max-width: 345px;
        font-size: 12px;
        line-height: 1.5;
    }

    .restaurant-menu-dish-price {
        font-size: 18px;
        line-height: 1.33;
    }

    .restaurant-menu-btn {
        margin-left: 0;
    }

}

.restaurant-menu {
    background-color: var(--color-dark);
}

.restaurant-menu > .container {
    padding-top: 40px;
    padding-bottom: 64px;
}

.restaurant-menu-title {
    margin-bottom: 36px;
    text-align: center;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--color-menu-light);
}

.restaurant-menu-list-wrap-desk {
    margin-bottom: 96px;
}

.restaurant-menu-list-wrap {
    display: none;
}

.restaurant-menu-list-title {
    margin-bottom: 32px;
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--color-menu-light);
}

.restaurant-menu-list {
    list-style: disc;
    color: var(--color-menu-light);
}

.restaurant-menu-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.restaurant-menu-item::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: rgba(121, 120, 120, 0.5);
    position: absolute;
    bottom: -15px;
}

.restaurant-menu-item:not(:last-child) {
    margin-bottom: 30px;
}

.restaurant-menu-item-wrap {
    display: flex;
    align-items: flex-start;
}

.restaurant-menu-dish-name {
    margin-right: auto;
    margin-left: 22px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.06em;
    color: var(--color-menu-light);
    position: relative;
}

.restaurant-menu-dish-name::before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--color-menu-light);
    position: absolute;
    top: 8px;
    left: -14px;
}

.restaurant-menu-dish-weight {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: var(--color-menu-light-second);
}

.restaurant-menu-dish-ing {
    max-width: 233px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.25em;
    color: var(--color-menu-dark);
}

.restaurant-menu-dish-price {
    margin-left: auto;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.06em;
    color: var(--color-menu-light);
}

.restaurant-menu-list-wrap {
    display: none;
}

.restaurant-menu-icons-list {
    display: flex;
}

.restaurant-menu-btn {
    width: 140px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    border: 0.8px solid var(--color-menu-light);
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.restaurant-menu-btn-text {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--color-menu-light);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.restaurant-menu-btn:is(:hover, :focus) {
    background-color: #FFFFFF;
    border: none;
}

.restaurant-menu-btn:is(:hover, :focus) .restaurant-menu-btn-text {
    color: var(--color-dark);
}

.restaurant-menu-icons {
    background-color: #FFFFFF;
}
 */
