body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

a {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    font-style: normal;
}

:root {
    --LogoColor: #4D5AE5;
    --MainTextColor: #2E2F42;
    --SecondTextColor: #434455;
    --HoverFocusColor: #404BBF;
    --FooterHoverFocusColor: #31D0AA;
    --CustomersMainColor: #8E8F99;
    --CustomersLinkColor: #404BBF;
    --SlideTextColor: #F4F4FD;
    --SlideTextBgColor: #4D5AE5;
    --HeroGradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
}

.container {
    max-width: 426px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.no-scroll {
    overflow: hidden;
}

/*--------------------- STUDIO PAGE -----------------------*/

/*--------------- header ---------------*/

.header {
    border-bottom: 1px solid #E7E9FC;
}

.header-container {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    align-items: flex-start;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--MainTextColor)
}

.header-logo-word {
    color: var(--LogoColor)
}

.header-list {
    display: none;
}

.address-list {
    display: none;
}

.mob-menu-btn {
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
}

/*--------------- mobile menu ---------------*/

.mob-menu {
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    padding-bottom: 40px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #FFFFFF;
}

.mob-container {
    max-width: 426px;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

.mob-menu-close {
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.mob-menu-navigation {
    margin-top: 16px;
}

.mob-menu-list-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.current-mob {
    color: #404BBF;
}

.mob-menu-address {
    margin-bottom: 48px;
}

.mob-menu-soc-list-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-tel {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.1;
    text-transform: capitalize;
    color: #4D5AE5;
}

.mob-menu-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mob-menu-icon-list {
    margin-top: 12px;
    display: flex;
    gap: 27px;
}

.mob-menu-icon-list-item {
    width: 40px;
    height: 40px;
}

.mob-menu-icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--LogoColor);
}

/*--------------- main ---------------*/

/*--------------- hero --------------*/

.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background: #2E2F42;
    background-image: var(--HeroGradient) ,url(../images/background-img/background-hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: var(--HeroGradient) ,url(../images/background-img/background-hero-mobile-2x.jpg);
        }
}

.hero-container {
    text-align: center;
}

.hero-title {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-btn {
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    border-style: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:is(:hover, :focus) {
    background-color: var(--HoverFocusColor);
}

/*-------------- studio advantage ---------------*/

.studio-advantage {
    padding-top: 96px;
    padding-bottom: 96px;
}

.studio-advatage-pics-list {
    display: none;
}

.studio-advantage-list {
    text-align: center;
}

.studio-list-item:not(:last-child) {
    margin-bottom: 72px;
}

.studio-item-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.studio-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SecondTextColor)
}

/*-------------- studio works --------------*/

.studio-works {
    display: none;
}

/*--------------- studio team ---------------*/

.studio-team {
    padding-top: 120px;
    padding-bottom: 120px;
    background: #F4F4FD;
}

.studio-team-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.studio-team-list {
    margin-top: 72px;
}

.studio-team-list-item {
    margin-left: auto;
    margin-right: auto;
    max-width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.studio-team-list-item:not(:last-child) {
    margin-bottom: 72px;
}

.member-text {
    padding: 32px 16px;
    background: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.studio-member-name {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.studio-member-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SecondTextColor)
}

.studio-team-icon-list {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.studio-team-icon-list-item {
    width: 40px;
    height: 40px;
}

.studio-team-icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--LogoColor);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-team-icon-link:is(:hover, :focus) {
    background-color: var(--HoverFocusColor);
}

/*--------------- customers ---------------*/

.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers-title {
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
}

.customers-list-item {
    width: 168px;
    height: 88px;
}

.customers-list-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--CustomersMainColor);
    border-radius: 4px;
    color: var(--CustomersMainColor);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:is(:hover, :focus) {
    border-color: var(--CustomersLinkColor);
}

.customers-list-link:is(:hover, :focus) .customers-icon {
    fill: var(--CustomersLinkColor);
}

/*--------------- footer ---------------*/

.footer {
    padding-top: 96px;
    padding-bottom: 96px;
    background: #2E2F42;
}

.footer-left {
    text-align: center;
    margin-bottom: 72px;
}

.footer-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-link-word {
    color: #4D5AE5;
}

.footer-soc {
    text-align: center;
    margin-bottom: 72px;
}

.footer-text {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

.footer-soc-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:is(:hover, :focus) {
    background-color: var(--FooterHoverFocusColor);
}

.footer-form {
    width: 100%;
    height: 80px;
    text-align: center;
    position: relative;
}

.footer-label {
    max-width: 426px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: transparent;
}

.sub-btn {
    width: 165px;
    height: 40px;
    margin: 0 auto;
    padding: 8px 24px;
    background: #4D5AE5;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-btn:is(:hover, :focus) {
    background-color: var(--HoverFocusColor);
}

.sub-btn-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.sub-icon {
    fill: #FFFFFF;
}


/*--------------------- PORTFOLIO PAGE ---------------------*/

.portfolio-info {
    padding-top: 48px;
    padding-bottom: 48px;
}

.portfolio-navigation-list {
    margin-bottom: 48px;
    display: flex;
    column-gap: 24px;
    row-gap: 16px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* .portfolio-navigation-item {
} */

.portfolio-btn {
    min-width: 116px;
    height: 48px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:is(:hover, :focus) {
    color: #FFFFFF;
    background: #404BBF;
    border: 1px solid #404BBF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.btn-small {
    min-width: 69px;
}

.portfolio-service-item {
    margin-right: auto;
    margin-left: auto;
    max-width: 396px;
    outline: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-service-item:not(:last-child) {
    margin-bottom: 48px;
}

.portfolio-service-item:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-item-text-wrap {
    position: absolute;
    top: 0;
    height: 100%;
    padding-top: 40px;
    padding-right: 32px;
    padding-left: 32px;
    background-color: var(--SlideTextBgColor);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: auto;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SlideTextColor);
}

.portfolio-service-item:hover .portfolio-item-text-wrap {
    transform: translateY(0);
}

.service-text {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    background: #FFFFFF;
}

.service-item-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.service-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SecondTextColor)
}

/*--------------------- MODAL PAGE ---------------------*/

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    width: 315px;
    min-height: 586px;
    padding: 24px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(360deg);
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-350%, -50%) scale(0) rotate(0);
}

.modal-close {
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:is(:hover, :focus) {
    fill: #FFFFFF;
    background-color: #404BBF;
    border: transparent;
}

/* .modal-form {
} */

.modal-form-title {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.modal-label-wrap {
    position: relative;
}

.modal-form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-form-icon {
    position: absolute;
    top: 35px;
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon-sec {
    position: absolute;
    top: 31px;
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input {
    width: 100%;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 38px;
    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: #4D5AE5;
}

.modal-form-input:focus + .modal-form-icon {
    fill: #4D5AE5;
}

.modal-form-input:focus + .modal-form-icon-sec {
    fill: #4D5AE5;
}

.modal-form-textarea {
    width: 100%;
    height: 120px;
    margin-top: 4px;
    margin-bottom: 16px;
    padding: 8px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-textarea:focus {
    border-color: #4D5AE5;
}

.modal-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-checkbox span {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    fill: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-checkbox span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.policy-link {
    margin-left: 4px;
    color: #4D5AE5;
    text-decoration: underline;
}

.modal-form-btn {
    width: 169px;
    height: 56px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border: none;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:is(:hover, :focus) {
    background-color: var(--HoverFocusColor);
}

.modal-form-btn-content {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
